@import 'resource.css';
#ProjectView {
    min-height: 500px;
}
#ProjectView h5 {
    padding: 5px 0 0 5px;
}
.check-permissions {
    margin: 4px 10px 0px 0px !important;
}
.item i {
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    background-color: #ccc;
    border-radius: 5px;
    padding: 0 4px;
}
.pv {
    border: 1px solid #cdd6dd;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    background: #f3f7f9;
}
.pv:hover {
    background: #ece0d1;
    border: 1px solid #d5c3af;
}
.right-overflow {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}
.left-overflow {
    max-height: 865px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}
.open {
    box-shadow: 0px 1px 3px 2px #ccc;
    background: #fff;
}
.open:hover {
    background: #fff;
    border-color: #5b717f;
}
.pv .close {
    position: absolute;
    top: 0;
    right: 5px;
    color: #56574F;
    cursor: pointer;
}
.pv .expand {
    position: absolute;
    top: 15px;
    left: -5px;
    color: #bec7ca;
    cursor: pointer;
}
.pv .expand:hover {
    color: #a19b90;
}
.pv > div {
    padding: 5px 0;
}
.developers {
    min-height: 38px;
}
/*
.developer {
    display: inline-block;
    padding: 3px 10px;
    margin:5px;
    background-color: #eee;
    border-radius: 5px;
    position: relative;
}
*/

.developer i {
    /*font-style: normal;
    position: absolute;
    
    top: 0;
    right: 5px;
    font-size: 11px;
    cursor: pointer;
    margin-left:10px;*/
}
.over {
    background-color: #eee;
}
.navbar-nav > li {
    margin: 10px;
}
#Mashup {
    margin-right: 10px;
}
/*
input.ng-invalid.has-visited.has-focus {
    border: 1px solid #8d8d8d;
}
input.ng-invalid.has-visited {
    border: 1px solid #E44848;
}
input.ng-valid.has-visited {
    border: 1px solid #a3bf57;
}
*/

.error-message {
    color: #a94442;
}
[ng-cloak] {
    display: none;
}
.form-group .error-message {
    display: none;
}
.form-group.has-error .error-message {
    display: block;
}
.right-inside-icn {
    font-size: 14px !important;
    background: none !important;
    padding: 0 !important;
    margin-right: 10px;
}
.size-large {
    font-size: 17px !important;
}
.resource-name,
.proj-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (min-width: 992px) {
    .resource-name {
        width: 56px;
    }
	.item .proj-name {
		width:110px;
	}
}
@media (min-width: 1024px) {
    .resource-name {
        width: 64px;
    }
	.item .proj-name {
		width:118px;
	}
}
@media (min-width: 1100px) {
    .resource-name {
        width: 82px;
    }
	.item .proj-name {
		width:153px;
	}
}
@media (min-width: 1200px) {
    .resource-name {
        width: 108px;
    }
	.item .proj-name {
		width:178px;
	}
}
@media (min-width: 1280px) {
    .resource-name {
        width: 128px;
    }
	.item .proj-name {
		width:198px;
	}
}
@media (min-width: 1365px) {
    .resource-name {
        width: 148px;
    }
	.item .proj-name {
		width:219px;
	}
}
@media (min-width: 1599px) {
    .resource-name {
        width: 206px;
    }
	.item .proj-name {
		width:278px;
	}
}
.res-padding {
    padding: 0;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.res-close, .res-edit {
    color: #d3d6d7;
    cursor: pointer;
    margin-left: 10px;
}
.res-close:hover, .res-edit:hover {
    color: #56574F;
}
.res-close i, .res-edit i {
    font-size: 14px;
    background: none;
}
.left-section {
    cursor: default;
    font-family: 'OpenSans-Semibold';
}
.rightPannelSection, .leftPannelSection h4, .leftPannelSection h5 {
    font-family: 'OpenSans-Semibold';
}
.text-light {
    color: #666;
}
.billable, .non-billable {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url('/images/billable16.png');
    margin-right: 5px;
}
.non-billable {
    background: none;
}
.sowdisplay {
    display: none;
}
/*project edit icons area*/

.project-edit-icon-wrapper {
    display: inline-block;
    float: right;
}
.project-edit-icon-wrapper span {
    display: inline-block;
}
.project-edit-icon-wrapper span i {
    font: normal normal normal 14px/1 FontAwesome;
}
textarea {
    resize: none;
}
.check-billable {
    margin: 11px 0px 0px 0px !important;
}
/*Billing control styles*/

.billing-control {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 5px;
}
.near-end-billing {
    background: url('/images/near-end-billing.png');
}
.active-billing {
    background: url('/images/active-billing.png');
}
.inactive-billing {
    background: url('/images/inactive-billing.png');
}
.non-billable {}
