.error-message {
	color: #a94442;
}
[ng-cloak] {
	display: none;
}
.form-group .error-message {
	display: none;
}
.form-group.has-error .error-message {
	display: block;
}

textarea{
	resize : none;
}
