<!DOCTYPE html>
<html ng-app="resourceTracking">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot Password</title>
    <link href="lib/bootstrap.css" rel="stylesheet">
    <link href="css/validation.css" rel="stylesheet">
    <style>
    #Form {
        width: 600px;
        margin: 0 auto;
    }
    </style>
</head>

<body>
	 <% var pageName = 'forgotpassword' %>
     <% include header.html %>
    <div class="container">
        <form name="Form" id="Form" novalidate class="form-horizontal" ng-controller="forgotPasswordController">
            <div class="modal-header">
                <h4>Reset Password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="username">Username</label>
                    <div class="col-md-8">
                        <input type="text" id="username" name="username" ng-model="forgotPassword.username" class="form-control" placeholder="Username" required>
                        <span class="error-message" ng-show="Form.username.$error.required">Username is required</span>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="phone">Contact</label>
                    <div class="col-md-8">
                        <input type="tel" ng-pattern="/\d{10,}/" id="phone" name="phone" ng-model="forgotPassword.contact" class="form-control" placeholder="Phone" required>
                        <span class="error-message" ng-show="!Form.phone.$error.pattern">Minimum 10 digits</span>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="password">Password</label>
                    <div class="col-md-8">
                        <input type="password" id="password" name="password" ng-model="forgotPassword.password" class="form-control" placeholder="Password" required>
                        <span class="error-message" ng-show="Form.password.$error.required">Password is required</span>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="confirmpassword">Confirm Password</label>
                    <div class="col-md-8">
                        <input type="password" id="confirmpassword" name="confirmpassword" ng-model="forgotPassword.confirmpassword" class="form-control" valid-password placeholder="Confirm Password" required>
                        <span class="error-message" ng-show="!Form.confirmpassword.$error.required && Form.confirmpassword.$error.noMatch && Form.confirmpassword.$dirty">Passwords do not match</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-default" ng-click="reset()">Reset</button>
                <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
            </div>
        </form>
    </div>
	<% include footer.html %>
    <script src="lib/angular.js"></script>
    <script src="js/common/directives.js"></script>
    <script src="js/forgotpassword.js"></script>
</body>

</html>
