<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="lib/bootstrap.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>

<body>
	<% var pageName = 'login' %>
    <% include header.html %>    
    <div class="container-fluid fixed-header">
        
      <form id="signin" role="form" action="/signin" method="post">
        <h2 class="form-signin-heading">Sign In</h2>
        <% if (message) { %>
        <h5><%= message %></h5>
        <% } %>
        <input type="email" name="userName" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me">Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        <div id="links">
            <a href="/forgotpassword">Forgot Password?</a>
            <br><br>
            New to Nisum Planner? <a href="/register">Register</a>
        </div>
    </form>
</div>
<% include footer.html %>
</body>

</html>
