<!DOCTYPE html>
<html ng-app="resourceTracking">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="lib/bootstrap.css" rel="stylesheet">
    <link href="css/validation.css" rel="stylesheet">
</head>
<body>
    <% var pageName = 'register' %>
    <% include header.html %>
    <div class="container">
        <form name="Form" id="Form" novalidate class="form-horizontal register" ng-controller="NewUserController">
            <div class="modal-header">
                <h4>Create User</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="name">User Name</label>
                    <div class="col-md-8">
                        <input type="email" id="name" name="name" ng-model="newUser.username" class="form-control" placeholder="user@nisum.com" required>
                        <span class="error-message" ng-show="!Form.name.$error.email">Enter Valid Email</span>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="">Password</label>
                    <div class="col-md-8">
                        <input type="password" id="password" name="password" ng-model="newUser.password" class="form-control" placeholder="Password" required>
                        <span class="error-message" ng-show="Form.password.$error.required">Password is required</span>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="">Confirm Password</label>
                    <div class="col-md-8">
                        <input type="password" id="confirmpassword" name="confirmpassword" ng-model="newUser.confirmpassword" class="form-control" valid-password placeholder="Confirm Password" required>
                        <span class="error-message" ng-show="!Form.confirmpassword.$error.required && Form.confirmpassword.$error.noMatch && Form.confirmpassword.$dirty">Passwords do not match</span>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="roleid">Role</label>
                    <div class="col-md-8">
                        <select ng-change="roleChange()" ng-model="newUser.roleid" ng-options="opt as opt.name for opt in Roles" id="roleid" name="roleid" class="form-control" required>
                            <option value="">Choose Role</option>
                        </select>
                        <span class="error-message" ng-show="Form.roleid.$dirty && Form.roleid.$invalid">Select Role</span>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="teamid">Team</label>
                    <div class="col-md-8">
                        <select ng-disabled="!validTeam" ng-model="newUser.teamid" ng-required="validTeam" ng-options="opt as opt.name for opt in Teams" id="teamid" name="teamid" class="form-control">
                            <option value="">Choose Team</option>
                        </select>
                        <span class="error-message" ng-show="Form.teamid.$dirty && Form.teamid.$error.required">Select Team</span>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="firstname">First Name</label>
                    <div class="col-md-8">
                        <input type="text" id="firstname" name="firstname" ng-model="newUser.firstname" class="form-control" placeholder="First Name" required>
                        <span class="error-message" ng-show="Form.firstname.$error.required">FirstName is required</span>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="lastname">Last Name</label>
                    <div class="col-md-8">
                        <input type="text" id="lastname" name="lastname" ng-model="newUser.lastname" class="form-control" placeholder="Last Name" required>
                        <span class="error-message" ng-show="Form.lastname.$error.required">LastName is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="sex">Sex</label>
                    <div class="col-md-8">
                        <input type="radio" value="M" ng-model="newUser.sex">male
                        <input type="radio" value="F" ng-model="newUser.sex">female
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="dob">Date Of Birth</label>
                    <div class="col-md-8">
                        <input type="date" id="dob" name="dob" ng-model="newUser.dob" class="form-control" placeholder="Date Of Birth" required>
                        <span class="error-message" ng-show="Form.dob.$error.required">Date Of Birth is required</span>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-md-4 control-label" for="phone">Contact</label>
                    <div class="col-md-8">
                        <input type="tel" ng-pattern="/\d{10,}/" id="phone" name="phone" ng-model="newUser.contact" class="form-control" placeholder="Phone" required>
                        <span class="error-message" ng-show="!Form.phone.$error.pattern">Minimum 10 digits</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
                <button type="reset" class="btn btn-default" ng-click="reset()">Reset</button>
            </div>
        </form>
    </div>
    <% include footer.html %>
    <script src="lib/angular.js"></script>
    <script src="js/common/directives.js"></script>
    <script src="js/register.js"></script>
</body>

</html>
