<!DOCTYPE html>
<html>
<head>
  <title>Reports</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="lib/bootstrap.css" rel="stylesheet">        
  <link href='lib/fullcalendar.css' rel='stylesheet'>
  <link href='css/report/report.css' rel='stylesheet'>
  
  <!-- jquery datatables-->
  <link href='css/datatables/jquery.dataTables.css' rel='stylesheet'>

  <script src='lib/jquery-1.11.1.min.js'></script>
  <script src='lib/jquery.dataTables.min.js'></script>

  <script src="js/report/highcharts.js"></script>
  <script src="js/report/exporting.js"></script>
  <script src='js/common/util.js'></script>    
  <script src='js/common/dateformat.js'></script>    
  <script src="js/report/report.js"></script>
  <script src="js/report/charts.js"></script>
  <script type="text/javascript">
  $(function() {
   $('#myTab li a').click(function() {
     var getname = $(this).attr('name');
     $('.tab-pane').hide();
     $('.active').removeClass('active');
     $(this).parent('li').addClass('active');
     $('#' + getname).parent('.tab-pane').show();
   });
   $('#generateExcel').click(function() {
     var userId = getUrlVars()["id"];
     var url;
     var titlePrefix, titleSuffix = ' logs from ' + $("#reportStartTime").val() + ' to ' + $("#reportEndTime").val();
     var cols = 13;
     if (userId) {
       cols--; <%
       if (typeof selectedUser != "undefined") { %>
         titlePrefix = '<%= selectedUser.firstname +" "+ selectedUser.lastname %>'; <%
       } %>
			            // user report log ajax cal
			            url = "/getDetailedUserReportLogs?startdate=" + $("#reportStartTime").val() + "&enddate=" + $("#reportEndTime").val() + "&userid=" + userId;
               } else { <% if (typeof user.teamName != "undefined") { %>
                 titlePrefix = '<%= user.teamName+" " %>'; <%
               } %>
               titlePrefix += 'Team';
			            // team report log ajax cal
			            url = "/getDetailedReportLogs?startdate=" + $("#reportStartTime").val() + "&enddate=" + $("#reportEndTime").val();
               }
               var data = $.getValues(url);
               if (data == '') {
                 return;
               }
               JSONToCSVConvertor(data, titlePrefix + titleSuffix, true, cols);
             });
});
</script>
</head>
<body>
  <% var pageName = 'report' %>
  <% include header.html %>
  <% if (typeof selectedUser !="undefined" && typeof user.teamName !="undefined") { %>
  <div class="fixed-header">
   <h3><%= selectedUser.firstname +" "+ selectedUser.lastname %>'s Report</h3>
 </div>
 <% } else{%>
 <div class="fixed-header">
   <h3>Reports</h3>
 </div>
 <% }%>
 <div class="container-fluid">
   <div class="reportGenerator">
    <ul id="myTab" class="nav nav-tabs">
      <!-- Team Rports section-->
      <li class="active wholereport">
        <a href="javascript:void(0)" name="userReport">
          Users Report
        </a>
      </li>
      <li class="wholereport">
        <a href="javascript:void(0)" name="projectReport">
          Projects Report
        </a>
      </li>
      <li class="wholereport">
        <a href="javascript:void(0)" name="iterationReport">
          Iteration Report
        </a>
      </li>
      <li class="wholereport">
        <a href="javascript:void(0)" name="storyReport">
          Story Report
        </a>
      </li>
      <li class="wholereport">
        <a href="javascript:void(0)" name="excelReport">
          Excel Report
        </a>
      </li>
      <!-- User Rports section-->
      <li class="active singlereport">
        <a href="javascript:void(0)" name="singleUserReport">
          Projects Report
        </a>
      </li>
      <li class="singlereport">
        <a href="javascript:void(0)" name="workingHoursReport">
          Logs Report
        </a>
      </li>
      <li class="singlereport">
        <a href="javascript:void(0)" name="singleExcelReport">
          Excel Report
        </a>					
      </li>
      <li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="col-md-12 datePickers">
          <div class="form-group">
            <label class="col-md-1 hform-label">Start date:</label>
            <div class="col-md-2">
              <input type="date" id="reportStartTime"  name="reportStartTime" class="form-control" placeholder="Start Time" required>
            </div>
            <label class="col-md-1 hform-label">End Date:</label>
            <div class="col-md-2">
              <input type="date" id="reportEndTime" name="reportEndTime" class="form-control" >
            </div>
            <div class="col-md-3">
              <button id="checkReport" class="btn btn-primary btn-sm rep-btn" onclick="generateReports()">Report</button>
              <button id="generateExcel" class="btn btn-primary btn-sm rep-btn">Download as Excel</button>
            </div>
            <% if (typeof selectedUser !="undefined" && typeof user.teamName !="undefined") { %>
            <label class="col-md-1 hform-label">Select User:</label>
            <div class="col-md-2">
              <select class="form-control"  id="teamMembers">
                <option>All</option>
              </select>
            </div>
            <% } %>
          </div>
        </div>
        <div class="col-md-12">
          <h4>Report name</h4>
        </div>
        <div class="tab-pane active wholereport">
		<label class="hform-label">Chart Type :&nbsp;</label> 
		<select id="chartType">
		  <option value="pie">Pie Chart</option>
		  <option value="bar">Bar Chart</option>
		  <option value="line">Line Chart</option>
		</select>
          <div id="userReport" class="reports"></div>
		  <div id="userReportBarChart" class="reports" style="display: none;"></div>
		  <div id="userReportLineChart" class="reports" style="display: none;"></div>
        </div>
        <div class="tab-pane wholereport" id="ios">
          <div id="projectReport" class="reports"></div>
          <div id="userProjectReport" class="reports"></div>
        </div>
        <div class="tab-pane wholereport" id="ios">
          <div id="iterationReport" class="reports"></div>
          <div id="iterationStoryReport" class="reports"></div>
          <div id="iterationStoryUserReport" class="reports"></div>                
        </div>
        <div class="tab-pane wholereport" id="ios">
          <div id="storyReport" class="reports"></div>
          <div id="individualStoryReport" class="reports"></div>
        </div>
        <div class="tab-pane active singlereport">
          <div id="singleUserReport" class="reports"></div>
        </div>
        <div class="tab-pane singlereport">
          <div id="workingHoursReport" class="reports"></div>
        </div>
        <div class="tab-pane wholereport">
          <div id="excelReport" class="reports"></div>
          <table id="excelReportTable" class="display" cellspacing="0" width="100%">
            <thead>
             <tr>
              <th>ID</th>	
              <th>PROJECT</th>
              <th>ITERATION</th>
              <th>STORY</th>
              <th>DESCRIPTION</th>
              <th>USER</th>
              <th>START</th>
              <th>END</th>
              <th>LOGGED</th>
              <th>CREATED</th>
              <th>EDITED</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tab-pane singlereport">
        <div id="singleExcelReport" class="reports"></div>
        <table id="singleExcelReportTable" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID</th>	
              <th>PROJECT</th>
              <th>ITERATION</th>
              <th>STORY</th>	
              <th>DESCRIPTION</th>
              <th>START</th>
              <th>END</th>
              <th>LOGGED</th>
              <th>CREATED</th>
              <th>EDITED</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$("#chartType").change(function () {
	if(this.value ===  'bar'){
		$( "#userReport" ).hide();
		$( "#userReportBarChart" ).show();
		$( "#userReportLineChart" ).hide();
	}else if(this.value ===  'line'){
		$( "#userReport" ).hide();
		$( "#userReportBarChart" ).hide();
		$( "#userReportLineChart" ).show();
	}else{
		$( "#userReport" ).show();
		$( "#userReportBarChart" ).hide();
		$( "#userReportLineChart" ).hide();
	}
 });

<% if (typeof selectedUser !="undefined" && typeof user.teamName !="undefined") { %>
  var teamid = '<%= user.teamId %>';
  var data = {id : teamid};
  $.ajax({
   url : '/getTeamUsersByTeamId',
   type:'get',
   dataType: 'json',
   data : data
 }).done(function(teamMembers){
  var selectedUser=''
  for(i=0; i< teamMembers.length; i++){
    if('<%= selectedUser.id %>' == teamMembers[i].id){
      selectedUser = 'selected';
    }else{
      selectedUser = '';
    }
    $("#teamMembers").append("<option "+selectedUser+" value="+teamMembers[i].id+">"+teamMembers[i].firstname+" "+teamMembers[i].lastname+"</option>");     

  }   
});

 $( "select" ).change(function () {
  var url = './report?id='+$( this ).val();
  //return false;
  var str = "";
  $( "select option:selected" ).each(function() {
    $(location).attr('href',url);
  });    
});
 <% } %>
 </script>
 <% include footer.html %>
</body>
</html>
