<!DOCTYPE html>
<html ng-app="resourceTracking">
<head>
  <title>Stories</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="lib/bootstrap.css" rel="stylesheet">
  <link href="css/validation.css" rel="stylesheet">
  <link href='css/datatables/jquery.dataTables.css' rel='stylesheet'>
  <link href="css/story.css" rel="stylesheet">
</head>
<body>
  <% var pageName='story' %>
  <%include header.html%>
  <br><br><br><br><br>
  <div class="container">
    <form name="storyForm" id="storyForm" role="form" novalidate class="form-horizontal stories" ng-controller="StoryEntryController">
     <div class="col-md-12 form-group">
       <div class="col-md-3 form-group">
         <div class="addstorylabel">Projects:</div>
         <select id="projects" name="projects" class="form-control" ng-change="getStories()" ng-model="projectId">
          <option value="0">Select Project</option>
          <% for(var i=0; i<projects.length; i++) {%>
          <option value="<%= projects[i].id %>"><%= projects[i].name %></option>
          <% } %>
        </select>
      </div>
      <div class="col-md-2 form-group"> 
	   <div class="addstorylabel"></div>
       <button class="btn btn-primary addonstory" style="display:none"  id="addStory" ng-click="addStory()">Add Story</button>
     </div>

      <div class="col-md-4 form-group">       
     </div>
   </div>
   
   <div class="tab-pane wholereport">
    <div id="excelReport" class="reports"></div>
   <table id="storyReportTable" class="display" cellspacing="0" width="100%">
      <thead>
       <tr>
        <th>ID</th>	
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>HOURS</th>
        <th>CREATED BY</th>
		    <th>EDIT</th>
        <th>TYPE</th>
        <th>SUB TASK</th>        
      </tr>
    </thead>
  </table>
</div>	
</form>

<div id="modeSection" ng-controller= "storyController">

<div class="modal fade" id="storyModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="addStoryForm" id="addStoryForm" novalidate class="form-horizontal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-header-title"></h4>
        </div>
        <div class="modal-body">
          <UL id="errorContainer"></UL>
          <div class="form-group">
            <label class="col-md-3 control-label" for="storyName">Story Name:</label>
            <div class="col-md-8">
              <input type="text" id="storyName" name="storyName" class="form-control" placeholder="Story Name" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="Story Description">Story Description:</label>
            <div class="col-md-8">
              <textarea id="storyDescription" rows="5" name="storyDescription" class="form-control" placeholder="Story Description" required></textarea>
            </div>
          </div>
          <div class="form-group" id="storyHoursContainer">
            <label class="col-md-3 control-label" for="storyHours">Hours</label>
            <div class="col-md-8">
              <input type="text" id="storyHours" name="storyHours" class="form-control" placeholder="Story Estimated Hours" required>
            </div>
          </div>         

          <div class="form-group">
            <label class="col-md-3 control-label" for="storyType">Story Type</label>
            <div class="col-md-8">
              <select id="storyType" name="storyType" class="form-control">
                <option value="0">Select Story Type</option>
                <% for(var i=0; i<storytypes.length; i++) {%>
                <option value="<%= storytypes[i].id %>"><%= storytypes[i].name %></option>
                <% } %>
              </select>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button id="saveStory" type="submit" class="btn btn-primary" ng-click="saveStory()">Save</button>
          <button type="reset" class="btn btn-default">Reset</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="storyCloseBtn">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>	

<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="addTaskForm" id="addTaskForm" novalidate class="form-horizontal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-header-title"></h4>
        </div>
        <div class="modal-body">
          <UL id="taskErrorContainer"></UL>
          
      <div class="form-group">
            <label class="col-md-3 control-label">Story</label>
            <div class="col-md-8">
                <input type="text" id="subTaskInput" disabled class="form-control">
            </div>
          </div>

  <!-- task over lay -->

          <div class="form-group">
            <label class="col-md-3 control-label" for="taskName">Task Name:</label>
            <div class="col-md-8">
              <input type="text" id="taskName" name="taskName" class="form-control" placeholder="Task Name" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="Task Description">Task Description:</label>
            <div class="col-md-8">
              <textarea id="taskDescription" rows="5" name="taskDescription" class="form-control" placeholder="Task Description" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="taskHours">Hours</label>
            <div class="col-md-8">
              <input type="text" id="taskHours" name="taskHours" class="form-control" placeholder="Task Estimated Hours" required>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button id="saveStorySubTask" type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-default" id="subTaskReset">Reset</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="storyCloseBtn">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>  



</div>











</div>
<% include footer.html %>
<script src="lib/angular.js"></script>
<script src='lib/moment.min.js'></script>
<!-- jquery datatables-->
<script src='lib/jquery-1.11.1.min.js'></script>
<script src='lib/jquery.dataTables.min.js'></script>
<script src="lib/bootstrap.js"></script>
<script src="js/common/directives.js"></script>
<script src="js/common/util.js"></script>
<script src="js/story.js"></script>
</body>
</html>
