<!DOCTYPE html>
<html ng-app="resourceTracking">
<head>
    <title>Teams Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/bootstrap.css" rel="stylesheet">
    <link href="css/validation.css" rel="stylesheet">
</head>
<body>
<% var pageName='teamsdashboard' %>
<%include header.html%>
<div class="container admin">
    <div id="teams" ng-controller="TeamCtrl">        		
		<label>Select Teams : </label>
		<select ng-model="team" ng-options="o as o.name for o in teams" ng-change="getTeamReport(team)">
     </div>
	
	<div class="row modal-footer "></div>
        
<script src="lib/jquery.js"></script>
<script src="lib/bootstrap.js"></script>
<script src="lib/angular.js"></script>
<script src="js/common/directives.js"></script>
<script src="js/teams.js"></script>
<% include footer.html %>
</body>
</html>
