<!DOCTYPE html>
<html>

<head>
    <title>User Timesheet</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/bootstrap.css" rel="stylesheet">
    <link href='lib/fullcalendar.css' rel='stylesheet'>
    <link href='css/timesheet.css' rel='stylesheet'>
</head>

<body>
	<% var pageName = 'usertimesheet' %>
 <% include header.html %>
<% if(teamMembers.length !== 0) {%>  
 <!--if no user selected redirt to first one -->
 <% if(selectedUser !== undefined) {%>

 <div class="fixed-header"> 
    <h3><%= selectedUser.firstname %> <%= selectedUser.lastname %>'s Timesheet</h3>
    <div id="teamusers-container">
     <label>Select User : &nbsp;</label>
     <select id="teamMembers">
        <option>All</option>
        <% for(var i=0; i<teamMembers.length; i++) {
          if( selectedUser.id  === teamMembers[i].id){%>
          <option selected value="<%= teamMembers[i].id %>">
        <% } else{%>
          <option  value="<%= teamMembers[i].id %>">
        <% }%>
          <%= teamMembers[i].firstname+" "+teamMembers[i].lastname %>                
        </option>
        <% } %>   
    </select>
 </div>
</div>

<div class="container-fluid">
    <div id="calContainer" class="col-md-10">
        <div id='calendar'></div>
    </div>
</div>

<div class="modal fade" id="AddTimeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="AddTimeForm" id="AddTimeForm" novalidate class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="modalHeader"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeProjectId">Project</label>
                        <div class="col-md-8">
                            <input type="text" readonly id="addTimeProjectId" class="form-control">
                            <input type="hidden" id="projectId" />
                        </div>
                    </div>

                    <!-- fields to add iteration and story for logs-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeIterationNo">Iteration No</label>
                        <div class="col-md-8">
                            <input type="text" readonly id="addTimeIterationNo" name="addTimeIterationNo" class="form-control" placeholder="Iteration No" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeStory">Story</label>
                        <div class="col-md-8">
                            <input type="text" readonly id="addTimeStory" name="addTimeStory" class="form-control" placeholder="Story" required>
                        </div>
                    </div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="addTimeTask">Task</label>
						<div class="col-md-8">
							<input type="text" readonly id="addTimeTask" name="addTimeTask" class="form-control" placeholder="Task" required>
						</div>
					</div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeStoryStatus">Status</label>
                        <div class="col-md-8">
                            <input type="text" readonly id="storyStatus" class="form-control" placeholder="Status" required>
                        </div>
                    </div>
                    <!-- end of fields to add iteration and story for logs-->

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeDescription">Description</label>
                        <div class="col-md-8">
                            <textarea class="form-control" readonly id="addTimeDescription" rows="3"></textarea>
                        </div>
                    </div>
                    <div id="plannedActivityContainer">
                                    <h4 class="activity-heading"> Planned activity</h4>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="addTimeStartTime">Start Time</label>
                                        <div class="col-md-8">
                                            <input type="datetime-local" id="addTimePlannedStartTime" name="addTimePlannedStartTime" class="form-control" placeholder="Start Time" required disabled>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="addTimeEndTime">End Time</label>
                                        <div class="col-md-8">
                                            <input type="datetime-local" id="addTimePlannedEndTime" name="addTimePlannedEndTime" class="form-control" placeholder="End Time" required disabled>
                                        </div>
                                    </div>
                                </div>
                                <div id="actualActivityContainer">
                                    <h4 class="activity-heading"> Actual activity</h4>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="addTimeStartTime">Start Time</label>
                                        <div class="col-md-8">
                                            <input type="datetime-local" id="addTimeStartTime" name="addTimeStartTime" class="form-control" placeholder="Start Time" required disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="addTimeEndTime">End Time</label>
                                        <div class="col-md-8">
                                            <input type="datetime-local" id="addTimeEndTime" name="addTimeEndTime" class="form-control" placeholder="End Time" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnUnlock">Unlock</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%}%>


<script src='lib/moment.min.js'></script>
<script src='lib/jquery.js'></script>
<script src="lib/bootstrap.js"></script>
<script src='lib/fullcalendar.js'></script>
<script src='js/common/util.js'></script>
<script src='js/usertimesheet.js'></script>
<script type="text/javascript">

<% if(!selectedUser) {%>   
    $(location).attr('href','./usertimesheet?id='+<%= teamMembers[0].id %>);
<%}%>
    $( "#teamMembers" ).change(function () {
      var url = './usertimesheet?id='+$( this ).val();
      //return false;
      var str = "";
      $( "select option:selected" ).each(function() {
          $(location).attr('href',url);
      });    
    });
</script>

<%}else{%>
    <br><br><br>
    No User to view
<%}%>
<% include footer.html %>
</body>

</html>
