<!DOCTYPE html>
<html>

<head>
    <title>User Timesheet</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/bootstrap.css" rel="stylesheet">
    <link href='lib/fullcalendar.css' rel='stylesheet'>
    <link href='css/timesheet.css' rel='stylesheet'>
</head>

<body>
	<% var pageName = 'usertimesheet' %>
 <% include header.html %>

 <!--if no user selected redirt to first one -->
 <% if(selectedUser !== undefined) {%>     

 <div class="fixed-header"> 
    <h3><%= selectedUser.firstname %> <%= selectedUser.lastname %>'s Timesheet</h3>
    <div id="teamusers-container">
     <label>Select User : &nbsp;</label> <select id="teamMembers"> </select>
 </div>
</div>

<div class="container-fluid">
    <div id="calContainer" class="col-md-10">
        <div id='calendar'></div>
    </div>
</div>

<div class="modal fade" id="AddTimeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="AddTimeForm" id="AddTimeForm" novalidate class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Details</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeProjectId">Project</label>
                        <div class="col-md-8">
                            <input type="text" readonly id="addTimeProjectId" class="form-control">
                            <input type="hidden" id="projectId" />
                        </div>
                    </div>

                    <!-- fields to add iteration and story for logs-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeIterationNo">Iteration No</label>
                        <div class="col-md-8">
                            <input type="text" readonly id="addTimeIterationNo" name="addTimeIterationNo" class="form-control" placeholder="Iteration No" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeStoryDescription">Story Description</label>
                        <div class="col-md-8">
                            <input type="text" readonly id="addTimeStoryDescription" name="addTimeStoryDescription" class="form-control" placeholder="Story Description" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeStoryDescription">Status</label>
                        <div class="col-md-8">
                            <input type="text" readonly id="logStatuses" class="form-control">
                        </div>
                    </div>
                    <!-- end of fields to add iteration and story for logs-->

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeDescription">Description</label>
                        <div class="col-md-8">
                            <textarea class="form-control" readonly id="addTimeDescription" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeStartTime">Start Time</label>
                        <div class="col-md-8">
                            <input type="datetime-local" readonly id="addTimeStartTime" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addTimeEndTime">End Time</label>
                        <div class="col-md-8">
                            <input type="datetime-local" readonly id="addTimeEndTime" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnUnlock">Unlock</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%}%>


<script src='lib/moment.min.js'></script>
<script src='lib/jquery.js'></script>
<script src="lib/bootstrap.js"></script>
<script src='lib/fullcalendar.js'></script>
<script src='js/common/util.js'></script>
<script src='js/usertimesheet.js'></script>
<script type="text/javascript">  
var teamid = '<%= user.teamId %>';
var data = {id : teamid};
$.ajax({
 url : '/getTeamUsersByTeamId',
 type:'get',
 dataType: 'json',
 data : data
}).done(function(teamMembers){
    <% if(selectedUser !== undefined) {%>
        var selectedUser='';
        for(i=0; i< teamMembers.length; i++){
            if('<%= selectedUser.id %>' == teamMembers[i].id){
                selectedUser = 'selected';
            }else{
                selectedUser = '';
            }
            $("#teamMembers").append("<option "+selectedUser+" value="+teamMembers[i].id+">"+teamMembers[i].firstname+" "+teamMembers[i].lastname+"</option>");     
            
        }   
        <%}else{%>
            //if no user selected get first user data
            $(location).attr('href','./usertimesheet?id='+teamMembers[0].id);
            <%}%>    
        });

$( "select" ).change(function () {
  var url = './usertimesheet?id='+$( this ).val();
  //return false;
  var str = "";
  $( "select option:selected" ).each(function() {
      $(location).attr('href',url);
  });    
});
</script>

<% include footer.html %>
</body>

</html>
