<!DOCTYPE html>
<html >
<head>
  <title>User Verification</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link href="lib/bootstrap.css" rel="stylesheet">
</head>
<body>
  <% var pageName='verified' %>
  <%include header.html%>
  <br><br><br><br><br>
  <div class="container">
    User not yet verified.Contact admin for further access.
    </div>
<% include footer.html %>

</body>
</html>
