 .reportGenerator{
    width: 850px;
    margin: 0px auto;
}
.reports{
    margin: 0 auto;   
    display: block;
	margin-top:60px;
}
.tab-pane{
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;

}
.gen_btn{
	position: absolute;
	top: 24px;
	right: 126px; 
}

th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }