#statusMessage{	
	text-align: center;
    border: 1px solid #a1a1a1;
    padding: 15px 40px; 
    background: #FFFFCC;
    width: auto;
    min-width: 300px;
    position:fixed;
    z-index:15;
    top:155px;
    left:50%;
    margin:-100px 0 0 -150px;
    font-size: 15px;
    box-shadow: 0 0 5px #888;
    color:#000;
}

.register{	
	width: 600px;
	margin: 0 auto;
	margin-top: 50px;
}

.admin{	
	margin-top: 100px;
}

.admin h3{ 
    margin: 0!important;
}

#errorContainer, #taskErrorContainer{
    color: red;
    padding-bottom: 12px;

}

.view-task{
    cursor: pointer;
}